.git
.github
node_modules
vendor
storage/*.key
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
docker-compose.yml
Dockerfile
.env
.env.backup
.env.example
.env.prod
README.md
prd.md
.DS_Store
.editorconfig
phpunit.xml
tests/
